/* BookDesk.css */

.map-container {
    height: 80vh; /* Default height for desktop */
    overflow: hidden; /* Optional: to handle overflow content */
  }
  
  @media (max-width: 1440px) {
    .map-container {
      height: 40vh; /* Adjust the height for mobile devices */
    }
  }